# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\桌面\2021-3-10-ai\chatbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
